@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}

.Pokecard {
  background-color: rgb(222, 253, 224);
  font-family: "Lato", sans-serif;
  width: 300px;
  padding: 10px;
  margin: 1rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
}

.Pokemon {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.Pokecard-data {
  font-size: 80%;
}
